[submodule "doc/docs/II/Aufgaben/template_sew_02_api_documentation"]
	path = doc/docs/II/Aufgaben/template_sew_02_api_documentation
	url = https://github.com/htlweiz/template_sew_02_api_documentation.git
